<% if logged_in? %>
  <div id="post-button">
    <a href="/hazard/new">
      <button>Post New Hazard</button>
    </a>
  </div>
<% end %>
<% @hazards.each do |hazard| %>
    <article>
       <header>
           <h1><%= hazard[:description] %></h1>
       </header> 
       <section>
          <a href="/hazard/<%= hazard.id %>">
            <img src="<%= hazard[:image] %>">
          </a>
          <a href="http://google.com/maps/search/<%= hazard[:coordinates] %>" target="_blank">
              <div class="map-icon"></div>
          </a>
       </section>
       <footer>
           <h1>Reported by <%= hazard.user.name %> on <%= hazard.humanize_time %></h1>
       </footer>
    </article>
<% end %> 